.ablock {
    width: 50px;
    height: 50px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.silver {
    background-color: silver;
}

.blue {
    background-color: blue;
}

.olive {
    background-color: olive;
}